$purple: rgba(103, 58, 183, 1);

.history {
  &_heading {
    font-size: 30px;
    color: #313131;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1em;
  }

  &_content {
    p {
      margin-block: 1em;
    }

    ul {
      margin-block: 1em;

      li {
        list-style-type: disc;
        margin-left: 1em;
      }
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }

  button {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    font-style: italic;

    &:hover {
      color: $purple;
      font-size: 17px;
    }
  }
}
