$purple : rgba(103, 58, 183, 1);

.history {
    &_heading {
        font-size: 20px;
        color: #313131;
        font-weight: bold;
        margin-bottom: .5em;
    }

    &_content {
        p {
            margin-block: 1em;
        }

        ul {
            margin-block: 1em;

            li {
                list-style: disc !important;
                margin-left: 1em;
            }
        }

        ol {
            text-align: start;
            li {
                list-style: decimal;
            }
        }
    }

    .button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
    }

    button {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        font-style: italic;

        &:hover {
            color: $purple;
            font-size: 17px;

        }
    }
}